<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Seddit</title>
  </head>
  <body>
    <header>
      <!-- Logo float left -->
      <nav>
        <span>
          <a href="#">Submit</a>
          <a href="#">FAQ</a>
          <a href="#">Blog</a>
          <a href="#">Feedback</a>
        </span>
      </nav>
      <nav>
        <div>
          <a href="#">Newest</a>
          <a href="#">Top Today</a>
          <a href="#">Top All-Time</a>
        </div>
        <!-- Search Bar goes here -->
      </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
      <p>Wowee I'm a footer</p>
    </footer>


  </body>
</html>
